@charset "UTF-8";
@font-face {
    font-family: "DroidArabicKufi";
    src: url("../fonts/DroidArabicKufi.woff");
}
@font-face {
    font-family: "DroidKufi-Bold";
    src: url("../fonts/DroidKufi-Bold.woff");
}
* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    font-size: 100%;
}

body {
    font-size: 16px;
    font-family: "DroidArabicKufi", Arial, sans-serif;
    color: #363636;
    line-height: 28px;
    font-weight: 400;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover,
a:visited,
a:focus {
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin: 0;
    background: none;
    font-weight: 600;
    line-height: 1.2em;
    font-family: "DroidKufi-Bold", Arial, sans-serif;
}

section {
    position: relative;
}

textarea {
    overflow: hidden;
    resize: none;
}

button {
    background-color: transparent;
    outline: none !important;
    cursor: pointer;
    min-width: auto;
}

p,
.text {
    font-size: 15px;
    line-height: 26px;
    color: #666;
    font-weight: 400;
    margin: 0;
}

::-webkit-input-placeholder {
    color: inherit;
}

::-moz-input-placeholder {
    color: inherit;
}

::-ms-input-placeholder {
    color: inherit;
}

.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

.small-container {
    position: static;
    max-width: 900px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    overflow: hidden;
    z-index: 1;
    background-color: #fff;
    transition: all 300ms ease;
}

.sidebar-page-container {
    position: relative;
    padding: 120px 0px 70px;
}

.section {
    padding: 60px 0 30px 0;
}

.bg_alice {
    background-color: #f9fafc;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icon-one {
    position: relative;
    display: flex;
    align-items: center;
}

.social-icon-one li {
    position: relative;
    margin-right: 10px;
}

.social-icon-one li:last-child {
    margin-right: 0;
}

.social-icon-one li a {
    position: relative;
    display: block;
    font-size: 14px;
    color: #777777;
    height: 30px;
    width: 30px;
    border: 1px solid transparent;
    line-height: 28px;
    text-align: center;
    border-radius: 50%;
    transition: all 500ms ease;
}

.social-icon-one li a:hover {
    color: #ffffff;
}

.social-icon-one.light li a {
    color: #ffffff;
}

.social-icon-one.light li a:hover {
    color: #000000;
}

.btn-style {
    position: relative;
    font-size: 15px;
    line-height: 30px;
    color: #222;
    border: 1px solid #33ab9d;
    padding: 8px 40px;
    font-weight: 600;
    overflow: hidden;
    min-width: 170px;
}
.btn-style:hover {
    background-color: #33ab9d;
    color: #fff;
}

.theme-btn {
    display: inline-block;
    text-align: center;
    border-radius: 40px;
    transition: all 0.5s ease;
}

/*Btn Style One*/
.btn-style-one {
    position: relative;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    padding: 10px 30px;
    font-weight: 600;
    background: #33ab9d;
    overflow: hidden;
    min-width: 150px;
    border-radius: 4px;
}

.btn-style-one:hover {
    color: #fff;
    background-color: #2d978b;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/*Btn Style One*/
.client-testimonial-carousel .owl-prev,
.client-testimonial-carousel .owl-next {
    position: absolute;
    left: -120px;
    top: 0;
    height: 50px;
    width: 50px;
    line-height: 46px;
    font-size: 24px;
    color: #1370b5;
    border: 2px solid #1370b5;
    text-align: center;
    border-radius: 50%;
}

.model {
    padding: 40px;
    border-radius: 0;
    overflow: unset;
    max-width: 1000px;
    height: auto;
    background-color: #f2f2f2;
}

.jquery-modal {
    z-index: 999;
}

/***

====================================================================
  Scroll To Top
====================================================================

***/
.scroll-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 999;
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: #1b2032;
    background-color: #ffffff;
    line-height: 40px;
    border-radius: 50px 50px 0 0;
    text-align: center;
    display: none;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 300ms ease;
}

/***

====================================================================
    Styled Pagination
====================================================================

***/
.styled-pagination {
    position: relative;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.styled-pagination .active span {
    background-color: #33ab9d;
    color: #fff;
}

.styled-pagination.align-left {
    justify-content: flex-start;
}

.styled-pagination li {
    position: relative;
    margin: 0 10px 10px 0;
}

.styled-pagination li:last-child {
    margin-right: 0;
}

.styled-pagination li a {
    position: relative;
    display: block;
    line-height: 38px;
    font-size: 18px;
    height: 40px;
    width: 40px;
    color: #221e2a;
    font-weight: 400;
    text-align: center;
    background: transparent;
    text-transform: capitalize;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 500ms ease;
}

.styled-pagination li .arrow {
    width: 60px;
    font-size: 18px;
    font-weight: 600;
}

.styled-pagination li a:hover,
.styled-pagination li a.active {
    color: #ffffff;
    background-color: #33ab9d;
}

.blog-masonry .styled-pagination {
    margin-top: 50px;
}

.blog-checkerboard .styled-pagination {
    margin-top: 80px;
}

.button-loading:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 20%;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    margin-top: -9px;
    margin-left: -9px;
    width: 18px;
    height: 18px;
    -webkit-animation: button-loading-spinner 0.7s linear infinite;
    animation: button-loading-spinner 1s linear infinite;
    border-color: #ffffff;
    border-bottom-color: transparent;
}

.required:after {
    content: " *";
    color: red;
}

@-webkit-keyframes button-loading-spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes button-loading-spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/***

====================================================================
  Main Header
====================================================================

***/
.main-header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 99;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.header-top {
    position: relative;
    background: #33ab9d;
}

.header-top .inner-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top .top-left {
    position: relative;
}

.header-top .top-left .contact-list {
    position: relative;
    padding: 15px 0;
}

.header-top .top-left .contact-list li {
    position: relative;
    float: left;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-right: 30px;
    color: #fff;
}

.header-top .top-left .contact-list li:last-child {
    margin-right: 0;
}

.header-top .top-left .contact-list li i {
    float: left;
    font-size: 20px;
    line-height: 20px;
    margin-right: 8px;
    color: #fff;
}

.header-top .top-left .contact-list li a {
    color: #fff;
    display: inline-block;
    transition: all 300ms ease;
}

.header-top .top-right {
    position: relative;
    float: right;
}

.main-header .main-box {
    margin-bottom: 0;
    padding-left: 0;
}

.main-header .main-box:before {
    display: none;
}

.main-header .main-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-header .main-box:before {
    display: none;
    position: absolute;
    left: 0;
    right: 60px;
    height: 100%;
    background: #f5f5f5;
    content: "";
    border-radius: 50px;
    border: 1px solid #dddde1;
}

.main-header .logo-box {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 70px;
}

.main-header .logo {
    position: relative;
    z-index: 9;
    padding: 15px 0;
    transition: all 300ms ease;
}

.main-menu {
    position: static;
}

.main-menu .navbar-header {
    display: none;
}

.main-menu .navbar-collapse {
    padding: 0px;
}

.main-menu .navigation {
    position: static;
    display: flex;
    align-items: center;
}

.main-menu .navigation > li {
    position: relative;
    margin-right: 30px;
    padding: 20px 0;
    transition: all 300ms ease;
}

.main-menu .navigation > li > span,
.main-menu .navigation > li > a {
    position: relative;
    display: block;
    text-align: center;
    opacity: 1;
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    color: #222222;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 300ms ease;
}

.main-menu .navigation > li.current span.current,
.main-menu .navigation > li.current > a,
.main-menu .navigation > li.current > span {
    color: #305264;
}

.main-menu .navigation > li.dropdown > span {
    padding-right: 10px;
}

.main-menu .navigation > li.dropdown > span:after {
    position: absolute;
    right: -2px;
    top: 50%;
    margin-top: -10px;
    font-family: "Font Awesome 5 Free";
    content: "\F0D7";
    display: block;
    line-height: 20px;
    font-size: 12px;
    font-weight: 900;
    color: #222222;
    z-index: 5;
}

.main-menu .navigation > li > a > span {
    position: relative;
}

.main-menu .navigation > li > ul {
    position: absolute;
    top: 100%;
    left: -15px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 0;
    opacity: 0;
    z-index: 1;
    min-width: 200px;
    transition: all 0.5s;
    transform: translateY(50px);
    box-shadow: 0px 7px 10px -1px rgba(0, 0, 0, 0.2);
}

.main-menu .navigation > li > ul:before {
    position: absolute;
    left: 20px;
    top: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ffffff;
    content: "";
}

.main-menu .navigation > li > ul.from-right {
    left: auto;
    right: 0;
}

.main-menu .navigation > li > ul .from-right {
    left: auto;
    right: 100%;
    margin-right: 2px;
}

.main-menu .navigation > li > ul > li {
    position: relative;
    display: block;
    z-index: 1;
}

.main-menu .navigation > li > ul > li:last-child {
    border-bottom: none;
}

.main-menu .navigation > li > ul > li > span,
.main-menu .navigation > li > ul > li > a {
    position: relative;
    display: block;
    padding: 10px 30px;
    z-index: 1;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #363636;
    white-space: nowrap;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main-menu .navigation > li.current.dropdown > span:after,
.main-menu .navigation > li li > a:hover,
.main-menu .navigation > li > ul > li > ul > li.current > a,
.main-menu .navigation > li > ul > li.current > a {
    color: #33ab9d;
}

.main-menu .navigation > li > ul > li > ul {
    position: absolute;
    top: 100%;
    left: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 0;
    min-width: 200px;
    margin-top: -40px;
    opacity: 0;
    z-index: 1;
    transition: all 0.5s;
    transform: translateY(50px);
    -ms-box-shadow: 0px 7px 10px -1px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 7px 10px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 7px 10px -1px rgba(0, 0, 0, 0.2);
}

.main-menu .navigation > li > ul > li > ul > li {
    position: relative;
    width: 100%;
}

.main-menu .navigation > li > ul > li > ul > li > a {
    position: relative;
    display: block;
    padding: 10px 30px;
    z-index: 1;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #363636;
    white-space: nowrap;
    text-transform: capitalize;
    transition: all 0.3s ease;
}

.main-menu .navigation > li > ul > li > ul > li > span:hover {
    color: #5c6770;
}

.main-menu .navigation > li > ul > li.dropdown > span:before {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -10px;
    font-family: "Font Awesome 5 Free";
    content: "\F105";
    display: block;
    color: inherit;
    line-height: 20px;
    font-size: 16px;
    font-weight: 900;
    z-index: 5;
}

.main-menu .navigation > li.dropdown:hover > ul {
    opacity: 1;
    visibility: visible;
    transform: translate(0px);
}

.main-menu .navigation li > ul > li.dropdown:hover > ul {
    opacity: 1;
    visibility: visible;
    transform: translate(0px);
}

.main-menu .navigation li.dropdown .dropdown-btn {
    position: absolute;
    right: 10px;
    top: 8px;
    width: 34px;
    height: 30px;
    border: 1px solid #ffffff;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    cursor: pointer;
    z-index: 5;
    display: none;
}

.main-header .nav-outer {
    position: static;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.main-header .outer-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header .theme-btn {
    margin-left: 30px;
}

/***

====================================================================
	Sticky Header
====================================================================

***/
.sticky-header {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    left: 0px;
    top: 0px;
    width: 100%;
    padding: 0px 0px;
    z-index: 99;
    background: rgba(255, 255, 255, 0.952941);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    transition: all 300ms ease;
}

.fixed-header .sticky-header {
    opacity: 1;
    z-index: 99;
    visibility: visible;
}

.sticky-header .main-box {
    padding: 0;
    margin: 0;
}

.sticky-header .outer-box,
.sticky-header .main-box:before {
    display: none;
}

.main-header .sticky-header .main-menu .navigation > li.current > a {
    color: #33ab9d;
}

.header-style-two .sticky-header .logo-box:before {
    display: none;
}

/***

====================================================================
	Mobile Header
====================================================================

***/
.mobile-header {
    position: relative;
    padding: 13px 15px;
    display: none;
    z-index: 99;
}

.mobile-header:after {
    display: table;
    clear: both;
    content: "";
}

.mobile-header .logo {
    position: relative;
    float: left;
    margin: 0;
    padding: 0 !important;
    left: 0;
}

.mobile-header .logo img {
    max-height: 50px;
}

.mobile-header .nav-outer {
    position: relative;
    float: right;
    margin-top: 5px;
}

.mobile-header .outer-box {
    position: relative;
    float: right;
}

.mobile-header .search-box {
    margin: 0;
}

.mobile-header .cart-btn {
    font-size: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.mobile-header .cart-btn {
    margin-left: 10px;
}

.nav-outer .mobile-nav-toggler {
    position: relative;
    float: right;
    font-size: 32px;
    line-height: 30px;
    cursor: pointer;
    margin-left: 20px;
    color: #33ab9d;
    order: 3;
    display: none;
}

.mm-panels .mm-counter {
    position: absolute;
    right: 45px;
    top: 50%;
    text-indent: 0;
    display: block;
    margin-top: -10px;
    background-color: #999999;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    line-height: 22px;
    font-size: 12px;
    font-weight: 600;
    padding: 0;
}

.mm-navbar__title > span {
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 600;
}

.mm-listview .current {
    background-color: rgba(0, 0, 0, 0.1);
}

#toggle-user-sidebar {
    margin-left: 20px;
}

#toggle-user-sidebar .thumb {
    display: block;
    height: 30px;
    width: 30px;
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 50%;
}

.mm-add-listing {
    margin-top: 30px;
    padding: 0 10px;
    border: transparent;
    display: none;
}

.mm-add-listing .theme-btn {
    width: auto;
    min-width: auto;
    flex: 0 0 auto;
    color: #33ab9d !important;
    border-radius: 50px;
    line-height: 25px;
    font-weight: 400;
}

.mm-add-listing .theme-btn span {
    margin-left: 0;
    margin-right: 10px;
}

/***

====================================================================
  Banner Section Three
====================================================================

***/
.banner-section-three {
    position: relative;
}

.banner-section-three .banner-carousel {
    position: relative;
}

.banner-section-three .slide-item {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-section-three .content-outer {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 700px;
}

.banner-section-three .content-box {
    position: relative;
    max-width: 600px;
    width: 100%;
    transition: all 300ms ease;
}

.banner-section-three .content-box .title {
    position: relative;
    display: inline-block;
    font-size: 18px;
    line-height: 1.2em;
    color: #33ab9d;
    font-weight: 500;
    padding: 5px 20px;
    margin-bottom: 25px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
    transition: all 300ms ease;
}

.banner-section-three .active .content-box .title {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition-delay: 400ms;
}

.banner-section-three .content-box h4 {
    position: relative;
    display: block;
    line-height: 1em;
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
    transition: all 300ms ease;
}

.banner-section-three .active .content-box h4 {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition-delay: 500ms;
}

.banner-section-three .content-box h2 {
    font-size: 52px;
    line-height: 1.1em;
    font-weight: 700;
    color: #222222;
    opacity: 0;
    visibility: hidden;
    margin-bottom: 15px;
    transform: translateY(100px);
    transition: all 300ms ease;
}

.banner-section-three .content-box h2 span {
    color: #7fc540;
}

.banner-section-three .active .content-box h2 {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition-delay: 600ms;
}

.banner-section-three .content-box .text {
    font-size: 18px;
    line-height: 30px;
    color: #222;
    font-family: "DroidKufi-Bold", Arial, sans-serif;
    font-weight: 500;
    opacity: 0;
    visibility: hidden;
    margin-bottom: 30px;
    transform: translateY(100px);
    transition: all 300ms ease;
}

.banner-section-three .active .content-box .text {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition-delay: 600ms;
}

.banner-section-three .content-box .btn-box {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
    transition: all 300ms ease;
}

.banner-section-three .active .content-box .btn-box {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition-delay: 700ms;
}

.banner-section-three .top-features {
    position: relative;
    margin-top: -70px;
    z-index: 1;
}

.banner-section-three .top-features:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #7fc540;
    content: "";
    display: none;
}

.default-arrows .owl-nav {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    opacity: 0;
    margin-top: -22px;
    transition: all 500ms ease;
}

/*==========================
Owl Carousel Arrows
===========================*/
.owl-carousel.no-arrows .owl-nav {
    display: none;
}

.default-arrows .owl-nav {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    opacity: 0;
    margin-top: -22px;
    transition: all 500ms ease;
}

.default-arrows:hover .owl-nav {
    opacity: 1;
}

.default-arrows .owl-next,
.default-arrows .owl-prev {
    position: absolute;
    left: -50px;
    top: 0;
    height: 45px;
    width: 45px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background: rgba(255, 255, 255, 0.4);
    line-height: 45px;
    border-radius: 7px;
    transition: all 500ms ease;
}

.default-arrows .owl-next {
    left: auto;
    right: -50px;
}

.default-arrows:hover .owl-next {
    right: 30px;
}

.default-arrows:hover .owl-prev {
    left: 30px;
}

.default-arrows .owl-next:hover,
.default-arrows .owl-prev:hover {
    background: #ffffff;
    color: #33ab9d;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.default-arrows.dark .owl-next,
.default-arrows.dark .owl-prev {
    background-color: rgba(0, 0, 0, 0.2);
}

.default-arrows.dark .owl-next:hover,
.default-arrows.dark .owl-prev:hover {
    background-color: #ffffff;
}

.owl-carousel.disable-arrow .owl-nav {
    display: none;
}

.owl-carousel.disable-dots .owl-dots {
    display: none;
}

.default-dots .owl-dots {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.default-dots .owl-dot {
    position: relative;
    height: 8px;
    width: 8px;
    background-color: #000000;
    margin: 0 4px;
    border-radius: 10px;
    transition: all 300ms ease;
}

.default-dots .owl-dot.active {
    width: 32px;
    background-color: #33ab9d;
}

.default-dots.light .owl-dot {
    background-color: #ffffff !important;
}

.theme_color {
    color: #1370b5;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.banner-section-three .content-box .btn-box {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
    transition: all 300ms ease;
}

.banner-section-three .active .content-box .btn-box {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition-delay: 700ms;
}

.features {
    margin-top: 50px;
}

.feature-icon img {
    display: block;
    width: 150px;
    border: 2px solid #33ab9d;
    border-radius: 50%;
    padding: 8px;
    margin: 0 auto;
}

.feature-text h3 {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

@media only screen and (max-width: 767px) {
    .feature {
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 1023px) {
    .feature {
        margin-bottom: 15px;
    }
}
.about {
    margin-top: 60px;
}

.about-img img {
    display: block;
    max-width: 100%;
}

.about-text {
    margin-top: 80px;
}
.about-text h2 {
    text-align: right;
    margin-bottom: 20px;
    color: #33ab9d;
}

.about-text-block {
    position: relative;
    background-color: #33ab9d;
    padding: 30px 50px;
    border-radius: 5px;
    max-width: 80%;
    float: right;
    text-align: right;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about-text-block p {
    color: #fff;
    font-size: 17px;
}
.about-text-block .about-more {
    color: #fff;
    min-width: 120px;
    margin: 0 auto;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
}
.about-text-block .about-more:hover {
    color: #305264;
}
.about-text-block:before {
    content: "";
    position: absolute;
    background: url("../images/decorate.png") no-repeat;
    top: -100px;
    left: -70px;
    width: 150px;
    height: 150px;
    z-index: -1;
    display: block;
}

@media only screen and (max-width: 767px) {
    .about-text {
        margin-top: 0;
    }

    .about-img {
        display: none;
    }

    .about-text-block {
        min-width: 100%;
        float: none;
    }
    .about-text-block::before {
        display: none;
    }
}
.vision .about-text {
    margin-top: 10px;
}

.vision .about-text h2 {
    text-align: center;
    margin-right: 30px;
}

.vision-text-block {
    float: left;
}
.vision-text-block:before {
    content: "";
    position: absolute;
    background: url("../images/decorate.png") no-repeat;
    top: -100px;
    left: 400px;
    width: 150px;
    height: 150px;
    z-index: -1;
    display: block;
}

@media only screen and (max-width: 1032px) {
    .vision .about-text {
        margin-top: 0;
    }

    .vision-text-block:before {
        left: 300px;
    }
}
@media only screen and (max-width: 767px) {
    .about-text {
        margin-top: 0;
    }

    .about-img {
        display: none;
    }

    .vision-text-block {
        min-width: 100%;
        float: none;
    }
    .vision-text-block::before {
        display: none;
    }
}
.team {
    margin-top: 50px;
}

.team h2 {
    text-align: center;
    color: #33ab9d;
    margin-bottom: 40px;
}

.team-section {
    position: relative;
    padding: 120px 0;
}

.team-section.alternate {
    background-color: #fcfcfc;
}

.team-section:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 50%;
    opacity: 0.5;
    transform: scale(-1);
    content: "";
}

.team-block {
    position: relative;
    margin-bottom: 50px;
}

.team-block .inner-box {
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 5px solid #ffffff;
    max-width: 370px;
    margin: 0 auto;
    transition: all 300ms ease;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}

.team-block .inner-box:hover {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.team-block .image:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    content: "";
    height: 0;
    border-radius: 50% 50% 0 0;
    transition: all 300ms ease;
}

.team-block .inner-box:hover .image:after {
    height: 50%;
}

.team-block .image {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    max-height: 330px;
}

.team-block .single {
    max-height: none !important;
    min-height: 330px !important;
}

.team-block .image img {
    display: block;
    width: 100%;
    height: auto;
    transition: all 500ms ease;
}

.team-block .inner-box:hover .image img {
    transform: scale(1.1);
    transition: all 2000ms ease;
}

.more-team {
    width: 200px;
    margin: 0 auto;
}
.more-team a {
    display: block;
    padding: 10px 40px;
    background-color: #33ab9d;
    color: #fff;
    text-align: center;
    border-radius: 40px;
    transition: all 0.5s ease;
}
.more-team a:hover {
    background-color: #2d978b;
}

.counter-section {
    margin-top: 50px;
}
.counter-section .outer-box {
    padding: 30px 40px;
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.counter-num {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #33ab9d;
    font-size: 32px;
    font-weight: bold;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border-radius: 50%;
    background: radial-gradient(ellipse at center, rgba(255, 113, 12, 0) 50%, #33ab9d 51.5%);
}

.counter-text h3 {
    text-align: center;
    font-size: 18px;
    margin-top: 16px;
}

@media only screen and (max-width: 767px) {
    .counter {
        margin-bottom: 15px;
        margin: 0 auto;
    }

    .counter-num {
        margin: 0 auto;
    }

    .counter-text {
        padding-right: 0px;
    }
}
@media only screen and (max-width: 1023px) {
    .counter {
        margin-bottom: 15px;
    }
}
.appointment-section {
    background-color: #33ab9d;
    padding: 40px 0;
}
.appointment-section h2,
.appointment-section p {
    text-align: center;
    color: #fff;
}
.appointment-section h2 {
    margin-bottom: 10px;
}
.appointment-section p {
    font-size: 17px;
    margin-bottom: 12px;
}

.contact-form-two {
    margin-top: 40px;
    direction: rtl;
}

.contact-form-two .form-group {
    position: relative;
    padding: 0 10px;
    margin-bottom: 20px;
}

.contact-form-two .form-group input[type=date],
.contact-form-two .form-group input[type=datetime-local],
.contact-form-two .form-group input[type=month],
.contact-form-two .form-group input[type=time],
.contact-form-two .form-group input[type=text],
.contact-form-two .form-group input[type=email],
.contact-form-two .form-group input[type=url],
.contact-form-two .form-group input[type=number],
.contact-form-two .form-group input[type=tel],
.contact-form-two .form-group textarea,
.contact-form-two .form-group select {
    position: relative;
    display: block;
    width: 100%;
    font-size: 16px;
    color: #999999;
    line-height: 20px;
    padding: 10px 20px;
    border: 1px solid #f1f1f1;
    background-color: #ffffff;
    font-weight: 400;
    height: 50px;
    border-radius: 5px;
    transition: all 300ms ease;
    text-align: right;
}

.contact-form-two .form-group input:focus,
.contact-form-two .form-group select:focus,
.contact-form-two .form-group textarea:focus {
    border-color: #305264;
}

.contact-form-two .form-group select {
    cursor: pointer;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    background: #ffffff url(../images/icons/icon-select.png) left center no-repeat;
    direction: rtl;
    padding: 10px 20px 10px 20px;
}

.contact-form-two .form-group textarea {
    height: 150px;
    resize: none;
    padding: 15px 20px;
}

.contact-form-two .form-group button:hover {
    color: #ffffff;
}

.contact-form-two input.error:focus,
.contact-form-two select.error:focus,
.contact-form-two textarea.error:focus {
    border-color: #ff0000;
}

.contact-form-two label.error {
    display: block;
    font-weight: 500;
    font-size: 13px;
    text-transform: capitalize;
    line-height: 24px;
    color: #ff0000;
    padding-top: 7px;
    margin-bottom: 0;
}

.contact-form-two .btn-style {
    display: block;
    background-color: #217067;
    color: #fff;
    margin: 0 auto;
    transition: all 0.5s ease;
}
.contact-form-two .btn-style:hover {
    background-color: #164943;
}

/***

====================================================================
    Service Section Four
====================================================================

***/
.services-section {
    position: relative;
    padding: 120px 0;
    background-color: #fafafa;
    margin-top: 50px;
}

.services-section h2 {
    text-align: center;
    color: #33ab9d;
    margin-bottom: 20px;
}

.services-section .right-btn {
    margin-top: 60px;
}

.services-section .carousel-outer {
    margin: 0 -20px;
}

.services-section .services-carousel {
    padding-bottom: 20px;
}

.service-block-four {
    position: relative;
    padding: 20px;
    margin-bottom: 30px;
}

.service-block-four .inner-box {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 300ms ease;
}

.service-block-four .image-box {
    position: relative;
    border: 10px solid #ffffff;
}

.service-block-four .image-box .image {
    position: relative;
    margin-bottom: 0;
    background-color: #ffffff;
    overflow: hidden;
}

.service-block-four .image-box .image img {
    position: relative;
    display: block;
    width: 100%;
    height: 300px;
    transition: all 300ms ease;
}

.service-block-four .inner-box:hover .image img {
    transform: scale(1.2);
    opacity: 0.75;
}

.service-block-four .inner-box:hover .image-box .icon {
    opacity: 0;
}

.service-block-four .lower-content {
    position: relative;
    padding: 20px 20px;
    background-color: #ffffff;
    text-align: right;
}

.service-block-four .lower-content h4 {
    position: relative;
    display: block;
    font-size: 24px;
    line-height: 1.2em;
    color: #353535;
    font-weight: 600;
    margin-bottom: 10px;
}

.service-block-four .lower-content h4 a {
    color: #353535;
    transition: all 300ms ease;
}

.service-block-four .lower-content h4 a:hover {
    color: #33ab9d;
}

.service-block-four .lower-content .text {
    position: relative;
}

.service-block-four .lower-content .read-more {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 1.2em;
    color: #33ab9d;
    margin-top: 15px;
}

.service-block-four .lower-content .read-more i {
    line-height: 1.2em;
    font-size: 16px;
}

.service-block-four .btn-box {
    position: relative;
    margin-top: 15px;
}

.service-block-four .btn-box a {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #333333;
    transition: all 300ms ease;
}

.service-block-four .btn-box a span {
    opacity: 0;
    visibility: hidden;
    font-size: 12px;
    transform: translateX(-20px);
}

.service-block-four .btn-box a:hover {
    color: #33ab9d;
}

.service-block-four .lower-content .icon-right {
    position: absolute;
    right: -20px;
    bottom: -20px;
    font-size: 120px;
    line-height: 1em;
    color: #000000;
    opacity: 0.05;
}

/************************************************************************************
Services Section Two
**************************************************************************************/
/***

====================================================================
    Service Section Two
====================================================================

***/
.services-section-two {
    position: relative;
    background-repeat: no-repeat;
    background-position: left top;
    padding: 120px 0;
    background-image: url(../images/icons/pattern-5.png);
    background-color: #fafafa;
}

.services-section-two .right-btn {
    margin-top: 60px;
}

.services-section-two .carousel-outer {
    margin: -20px -20px 0;
}

.services-section-two .services-carousel {
    padding-bottom: 20px;
}

.services-section-two .services-carousel .service-block-two {
    padding: 20px;
}

.services-carousel .owl-nav {
    display: none;
}

.service-block-two {
    position: relative;
    margin-bottom: 30px;
}

.service-block-two .inner-box {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 300ms ease;
}

.service-block-two .image-box {
    position: relative;
    border: 10px solid #ffffff;
}

.service-block-two .image-box .image {
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
}

.service-block-two .image-box .image img {
    position: relative;
    display: block;
    width: 100%;
    transition: all 300ms ease;
}

.service-block-two .inner-box:hover .image img {
    transform: scale(1.2);
}

.service-block-two .inner-box:hover .image-box .icon {
    opacity: 0;
}

.service-block-two .lower-content {
    position: relative;
    padding: 30px 20px 40px;
    background-color: #ffffff;
}

.service-block-two .lower-content .title-box {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.service-block-two .lower-content .icon {
    position: relative;
    display: block;
    font-size: 25px;
    line-height: 1em;
    margin-right: 10px;
    color: #33ab9d;
}

.service-block-two .lower-content h4 {
    position: relative;
    display: block;
    font-size: 24px;
    line-height: 1.2em;
    color: #353535;
    font-weight: 600;
}

.service-block-two .lower-content h4 a {
    color: #353535;
    transition: all 300ms ease;
}

.service-block-two .lower-content h4 a:hover {
    color: #33ab9d;
}

.service-block-two .lower-content .text {
    position: relative;
}

.service-block-two .btn-box {
    position: relative;
    margin-top: 15px;
}

.service-block-two .btn-box a {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #333333;
    transition: all 300ms ease;
}

.service-block-two .btn-box a span {
    opacity: 0;
    visibility: hidden;
    font-size: 12px;
    transform: translateX(-20px);
}

.service-block-two .btn-box a:hover {
    color: #33ab9d;
}

.service-block-two .lower-content .icon-right {
    position: absolute;
    right: -20px;
    bottom: -20px;
    font-size: 120px;
    line-height: 1em;
    color: #000000;
    opacity: 0.05;
}

/***

====================================================================
  Testimonial Section
====================================================================

***/
.testimonial-section {
    position: relative;
    padding: 120px 0 90px;
    background: #f2f2f2;
}
.testimonial-section h2 {
    color: #33ab9d;
    margin-bottom: 20px;
}

.testimonial-section .testimonial-outer {
    position: relative;
}

.testimonial-section .client-thumb-outer .center .author-info {
    opacity: 1;
    visibility: visible;
}

.testimonial-section .client-thumb-outer .owl-item {
    z-index: 0;
}

.testimonial-section .client-thumb-outer .owl-item.active {
    z-index: 10;
}

.testimonial-section .client-testimonial-carousel {
    max-width: 800px;
    margin: 0 auto;
}

.testimonial-block {
    position: relative;
    margin-bottom: 50px;
}

.testimonial-section .client-thumbs-carousel .owl-nav,
.testimonial-section .owl-dots {
    display: none;
}

.testimonial-section .clients-outer {
    position: relative;
    padding-top: 50px;
}

.clients-outer .clients-carousel {
    position: relative;
    text-align: center;
}

.client-testimonial-carousel .owl-nav {
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
}

.client-testimonial-carousel .owl-prev,
.client-testimonial-carousel .owl-next {
    position: absolute;
    left: -120px;
    top: 0;
    height: 50px;
    width: 50px;
    line-height: 46px;
    font-size: 24px;
    color: #1370b5;
    border: 2px solid #1370b5;
    text-align: center;
    border-radius: 50%;
}

.client-testimonial-carousel .owl-next {
    left: auto;
    right: -120px;
}

.testimonial-section.alternate .outer-box {
    margin: 0 -30px;
}

.testimonial-block-two {
    padding: 20px;
    background: #fff;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 5px;
    min-height: 200px;
}
.testimonial-block-two .inner-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.testimonial-block-two .text {
    text-align: center;
    margin: 20px auto;
    width: 50%;
}
.testimonial-block-two .author {
    color: #33ab9d;
    text-align: center;
}

.rtl .testimonial-block-two .info-box {
    padding-left: 0;
    padding-right: 90px;
}

.rtl .testimonial-block-two .info-box .thumb {
    left: auto;
    right: 0;
}

.rtl .testimonial-block-two .inner-box:before {
    right: auto;
    left: 40px;
}

.main-footer {
    position: relative;
    background: red;
    background: #7fc540;
    direction: rtl;
    color: #fff;
    text-align: left;
}
.main-footer .logo {
    float: right;
    margin-bottom: 30px;
}
.main-footer .site-footer-menu {
    float: right;
}
.main-footer .site-footer-menu a {
    color: #fff;
    line-height: 2.5;
    transition: all 0.5s ease;
}
.main-footer .site-footer-menu a:hover {
    color: #305264;
}
.main-footer .contact-list li {
    line-height: 2.5;
}
.main-footer .contact-list a, .main-footer .contact-list span {
    color: #f2f2f2;
}
.main-footer .copyright-text {
    padding-bottom: 10px;
}
.main-footer .copyright-text p, .main-footer .copyright-text a {
    color: #f2f2f2;
    text-align: center;
}

.social-icon-three {
    display: flex;
    width: 200px;
    margin-top: 20px;
    justify-content: space-between;
}
.social-icon-three a {
    color: #fff;
}

.main-footer .widgets-section {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 120px 0 70px;
}
.main-footer .widgets-section:before {
    background-color: #33ab9d;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.95;
    content: "";
}

.main-footer .footer-bottom {
    position: relative;
    width: 100%;
    background: #2d978b;
}

@media only screen and (max-width: 767px) {
    .main-footer .about-widget {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .main-footer .social-icon-three {
        clear: both;
    }
    .main-footer .site-footer-menu {
        margin-top: 40px;
        float: none;
        display: flex;
        justify-content: space-around;
    }
    .main-footer .contact-widget {
        margin: 20px 0 20px 0;
    }
    .main-footer .contact-widget h2 {
        text-align: center;
    }
    .main-footer .contact-list li {
        text-align: center;
    }
}
@media only screen and (max-width: 1023px) {
    .hide-sm,
    .main-header .main-box {
        display: none !important;
    }

    .main-header .nav-outer .main-menu {
        display: none;
    }

    .mobile-header,
    .mm-add-listing,
    .nav-outer .mobile-nav-toggler {
        display: block;
    }

    .header-span {
        height: 65px;
    }

    .mobile-header {
        padding: 12px 15px;
    }

    .banner-section-four .content-box .text br,
    .header-style-four .header-top {
        display: none;
    }
}
@media only screen and (max-width: 1023px) {
    .main-header .nav-outer {
        justify-content: flex-start;
    }

    .rtl .mobile-header {
        padding: 12px 15px;
    }
}
.rtl .page-title {
    text-align: right;
}

.page-title {
    position: relative;
    padding: 80px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
}
.page-title:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    content: "";
    opacity: 0.5;
}

.rtl .page-title .titlle-outer {
    transform: scaleX(-1);
    text-align: left;
}

.page-title .titlle-outer {
    position: relative;
    display: inline-block;
    border-radius: 10px;
}

.rtl .page-title h1 {
    text-align: right;
}

.page-title h1 {
    color: #33ab9d;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0 0;
    word-break: break-word;
}

/***

====================================================================
  Team Section Two
====================================================================

***/
.team-section-two {
    position: relative;
    padding: 120px 0 120px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.team-section-two .sec-title {
    margin-bottom: 60px;
}

.team-section-two .sec-bottom-text {
    margin-top: 20px;
}

.team-block-two {
    position: relative;
    margin-bottom: 30px;
}

.team-block-two .inner-box {
    position: relative;
    max-width: 340px;
    margin: 0 auto;
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.07);
}

.team-block-two .info-box {
    position: relative;
    background-color: #ffffff;
    border-bottom: 5px solid #eeeeee;
    overflow: hidden;
}

.team-block-two .inner-box:before {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 100%;
    content: "";
    background-color: #33ab9d;
    z-index: 1;
    transform: scale(0, 1);
    transform-origin: top right;
    transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}

.team-block-two .inner-box:hover:before {
    transform: scale(1, 1);
    transform-origin: bottom left;
}

.team-block-two .image-box {
    position: relative;
    text-align: center;
    overflow: hidden;
    border: 10px solid #ffffff;
    border-bottom: 0;
}

.team-block-two .image-box .social-links {
    position: absolute;
    left: 20px;
    top: 20px;
}

.team-block-two .image-box .social-links li {
    position: relative;
    display: block;
    right: 0;
    top: 20px;
    opacity: 0;
    visibility: hidden;
    background-color: #ffffff;
}

.team-block-two .image-box .social-links li a {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    width: 40px;
    color: #ffffff;
    text-align: center;
    font-weight: 400;
    background-color: #33ab9d;
    transition: all 300ms ease;
}

.team-block-two .image-box .social-links li a:hover {
    color: #33ab9d;
    background-color: #ffffff;
}

.team-block-two .inner-box:hover .image-box .social-links li:nth-child(2) {
    transition-delay: 100ms;
}

.team-block-two .inner-box:hover .image-box .social-links li:nth-child(3) {
    transition-delay: 200ms;
}

.team-block-two .inner-box:hover .image-box .social-links li:nth-child(4) {
    transition-delay: 300ms;
}

.team-block-two .inner-box:hover .image-box .social-links li:nth-child(5) {
    transition-delay: 400ms;
}

.team-block-two .inner-box:hover .image-box .social-links li:nth-child(6) {
    transition-delay: 500ms;
}

.team-block-two .inner-box:hover .image-box .social-links li:nth-child(7) {
    transition-delay: 600ms;
}

.team-block-two .inner-box:hover .image-box .social-links li:nth-child(8) {
    transition-delay: 700ms;
}

.team-block-two .inner-box:hover .image-box .social-links li:nth-child(9) {
    transition-delay: 800ms;
}

.team-block-two .inner-box:hover .image-box .social-links li:nth-child(10) {
    transition-delay: 900ms;
}

.team-block-two .inner-box:hover .image-box .social-links li {
    left: 0px;
    top: 0;
    opacity: 1;
    visibility: visible;
    transition: all 200ms ease;
}

.team-block-two .image-box .image {
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
}

.team-block-two .image-box .image img {
    display: block;
    width: 100%;
    height: auto;
    filter: grayscale(1);
    transition: all 500ms ease;
    height: 350px;
}

.team-block-two .inner-box:hover .image img {
    filter: grayscale(0);
    transform: scale(1.1);
}

.team-block-two .info-box {
    position: relative;
    padding: 31px 15px 27px;
    text-align: center;
}

.team-block-two .info-box .name {
    position: relative;
    display: block;
    font-size: 24px;
    line-height: 1.2em;
    color: #000000;
    font-weight: 600;
}

.team-block-two .info-box .name a {
    color: #000000;
    font-size: 18px;
}

.team-block-two .info-box .designation {
    position: relative;
    color: #33ab9d;
    font-size: 15px;
    line-height: 27px;
    font-weight: 600;
}

.team-section-two.alternate {
    background: none;
}

.team-section-two.alternate .team-block-two .image-box .image img {
    filter: grayscale(0);
}

.team-section-two.alternate2 {
    background-color: #fcfcfc;
}

/***

====================================================================
  Doctor Detail Section
====================================================================

***/
.doctor-detail-section {
    position: relative;
    padding: 120px 0 70px;
    background-color: #fafafa;
}

.doctor-detail-section .content-side {
    margin-bottom: 50px;
}

.docter-detail .name {
    font-size: 34px;
    line-height: 1.2em;
    color: #222222;
    font-weight: 700;
    margin-bottom: 10px;
}

.docter-detail .designation {
    position: relative;
    display: block;
    font-size: 18px;
    color: #1370b5;
    margin-bottom: 30px;
}

.docter-detail .text {
    margin-bottom: 30px;
}

.doctor-info-list {
    position: relative;
    margin-bottom: 50px;
}

.doctor-info-list li {
    position: relative;
    margin-bottom: 15px;
    padding-left: 200px;
}

.doctor-info-list li strong {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 16px;
    color: #222222;
    min-width: 200px;
}

.doctor-info-list li p {
    position: relative;
}

.doctor-info-list li p a {
    color: inherit;
}

.doctor-detail-section .team-block .image:after {
    display: none;
}

.doctor-detail-section .appointment-form {
    box-shadow: none;
    background: none;
    padding: 0;
    padding-top: 50px;
    border-top: 1px solid #dddddd;
    margin-top: 40px;
}

.doctor-detail-section .sidebar-side .sidebar {
    position: relative;
    padding-right: 30px;
}

.docter-availability {
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.docter-availability .sec-title {
    margin-bottom: 30px;
}

.timing-list-two {
    position: relative;
}

.timing-list-two {
    position: relative;
    display: block;
    max-width: 500px;
}

.timing-list-two li {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 28px;
    color: #777777;
    font-weight: 400;
    padding: 6px 0;
    border-bottom: 1px solid #eeeeee;
}

.timing-list-two li:last-child {
    border-bottom: 0;
}

.rtl .doctor-detail-section .sidebar-side .sidebar {
    padding-right: 0;
    padding-left: 30px;
}

.rtl .doctor-info-list li {
    padding-left: 0;
    padding-right: 200px;
}

.rtl .author-box .thumb,
.rtl .latest-news .post-thumb,
.rtl .list-style-one li:before,
.rtl .doctor-info-list li strong {
    left: auto;
    right: 0;
}

.rtl .brochures-box .theme-btn i {
    margin-right: 0;
    margin-left: 3px;
}

.rtl .list-style-one li {
    padding-left: 0;
    padding-right: 25px;
}

/***

====================================================================
  Service Detail
====================================================================

***/
.service-detail {
    position: relative;
    padding-left: 20px;
}

.service-detail .images-box {
    position: relative;
    margin: 0 -5px;
}

.service-detail .images-box .column {
    padding: 0 5px;
}

.service-detail .images-box .image {
    position: relative;
    margin-bottom: 10px;
}

.service-detail .images-box .image img {
    display: block;
    width: 100%;
    height: auto;
}

.service-detail .content-box {
    position: relative;
    padding: 20px 0 0;
}

.service-detail .content-box .title-box {
    position: relative;
    margin-bottom: 30px;
}

.service-detail .content-box h2 {
    position: relative;
    display: block;
    font-size: 34px;
    line-height: 1.2em;
    color: #343a40;
    font-weight: 700;
    margin-bottom: 10px;
}

.service-detail .content-box h3 {
    position: relative;
    display: block;
    font-size: 24px;
    line-height: 1.2em;
    color: #343a40;
    font-weight: 700;
    margin-bottom: 20px;
}

.service-detail .content-box p {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 26px;
    color: #777777;
    font-weight: 400;
    margin-bottom: 26px;
}

.service-detail .two-column {
    position: relative;
}

.service-detail .two-column p {
    margin-bottom: 25px;
}

.service-detail .two-column .image-column {
    position: relative;
    margin-bottom: 35px;
}

.service-detail .two-column .image-column .image {
    margin-bottom: 0;
}

.service-detail .two-column .image-column .image img {
    display: block;
    width: 100%;
}

.service-detail .two-column .text-column {
    position: relative;
}

.service-detail .prod-tabs {
    position: relative;
    margin-top: 50px;
}

.service-detail .prod-tabs .tab-btns {
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #dddddd;
}

.service-detail .prod-tabs .tab-btns .tab-btn {
    position: relative;
    top: 1px;
    display: block;
    float: left;
    margin-right: 5px;
    font-size: 16px;
    color: #333333;
    background: #ffffff;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 23px;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    border-bottom: 0;
    padding: 10px 25px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.service-detail .prod-tabs .tab-btns .tab-btn:before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    width: 0%;
    height: 3px;
    background-color: #33ab9d;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.service-detail .prod-tabs .tab-btns .tab-btn.active-btn:before {
    width: 100%;
    left: 0;
}

.service-detail .prod-tabs .tab-btns .tab-btn.active-btn:after {
    position: absolute;
    content: "";
    left: 0px;
    bottom: -3px;
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.service-detail .prod-tabs .tab-btns .tab-btn.active-btn {
    color: #33ab9d;
    background: #ffffff;
}

.service-detail .prod-tabs .tabs-content {
    position: relative;
    padding: 25px 30px 45px;
    border: 1px solid #dddddd;
}

.service-detail .prod-tabs .tabs-content .tab {
    position: relative;
    display: none;
    border-top: 0px;
}

.service-detail .prod-tabs .tabs-content .tab.active-tab {
    display: block;
}

.service-detail .prod-tabs .tabs-content .tab .content {
    position: relative;
}

.service-detail .prod-tabs .tabs-content .tab .content p {
    position: relative;
    font-size: 16px;
    line-height: 26px;
    color: #666666;
    margin-bottom: 0px;
}

/*Services Category*/
.services-categories {
    position: relative;
    margin-bottom: 50px;
    background-color: #fcfcfc;
    border: 10px solid #ffffff;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
}

.services-categories li {
    position: relative;
    border: 1px solid #e7e7e7;
    border-bottom: 0;
    z-index: 9;
}

.services-categories li:last-child {
    border-bottom: 1px solid #e7e7e7;
}

.services-categories li a {
    font-size: 16px;
    font-weight: 500;
    color: #222222;
    line-height: 30px;
    padding: 10px 25px;
    display: block;
    padding-left: 38px;
    overflow: hidden;
    transition: all 300ms ease;
}

.services-categories li.active a,
.services-categories li:hover a {
    color: #ffffff;
}

.services-categories li a:before {
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 12px;
    line-height: 30px;
    color: #222222;
    font-weight: 900;
    content: "\F0DA";
    font-family: "Font Awesome 5 Free";
    transition: all 300ms ease;
}

.services-categories li.active a:before,
.services-categories li:hover a:before {
    color: #ffffff;
}

.services-categories li a:after {
    position: absolute;
    left: -1px;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-color: #33ab9d;
    z-index: -1;
    transition: transform 0.4s ease;
    transform: scale(0, 1);
    transform-origin: right top;
}

.services-categories li.active a:after,
.services-categories li:hover a:after {
    transform-origin: left bottom;
    transform: scale(1, 1);
}

.rtl .service-detail .prod-tabs .tab-btns .tab-btn {
    float: right;
}

.rtl .service-block-two .lower-content .icon {
    margin-right: 0;
    margin-left: 10px;
}

.rtl .service-block-two .lower-content .title-box {
    direction: rtl;
}

/***
==================================================================
    Right To Left Style
==================================================================
***/
.rtl {
    direction: rtl;
    text-align: right;
}

.rtl .owl-carousel {
    direction: ltr !important;
}

.rtl .main-footer .footer-bottom .footer-nav {
    float: left;
}

.rtl .search-popup .form-group input[type=submit],
.rtl .search-popup .form-group button {
    right: auto;
    left: 0;
}

.rtl .main-slider .tp-parallax-wrap {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto !important;
}

.rtl .header-top .top-left .contact-list li i {
    float: right;
    margin-right: 0;
    margin-left: 8px;
}

.rtl .main-header .main-box:before {
    right: 0;
    left: 60px;
}

.rtl .main-header .theme-btn {
    margin-left: 0;
    margin-right: 30px;
}

.rtl .main-menu .navigation > li {
    margin-right: 0;
    margin-left: 30px;
}

.rtl .main-menu .navigation > li > ul {
    left: auto;
    right: 0;
}

.rtl .main-menu .navigation li > ul > li.dropdown > ul {
    left: auto;
    right: 100%;
    margin-left: 0;
}

.rtl .main-menu .navigation > li > ul > li.dropdown > a:after {
    transform: scaleX(-1);
    left: 10px;
    right: auto;
}

.rtl .main-menu .navigation > li > ul > li > ul > li > a,
.rtl .main-menu .navigation > li > ul > li > a {
    text-align: right;
}

.rtl .main-menu .navigation > li > ul > li.dropdown > span:before {
    right: auto;
    left: 20px;
    transform: scaleX(-1);
}

.rtl .main-menu .navigation > li > ul:before {
    left: auto;
    right: 20px;
}

.rtl .sticky-header .main-box {
    padding: 0 20px;
    margin: 0;
    border-radius: 0 !important;
}

.rtl .feature-block .inner-box:before,
.rtl .feature-block .inner-box:after {
    right: auto;
    left: -100px;
}

.rtl .main-slider .btn-box a {
    margin-right: 20px !important;
}

.rtl .main-slider .btn-box a:first-child {
    margin-right: 0px !important;
}

.rtl .tp-bgimg {
    transform: scaleX(-1);
}

.rtl .about-section .images-column .inner-column {
    margin-right: 0;
    margin-left: -15px;
    text-align: left;
}

.rtl .about-section .video-link {
    left: auto;
    right: 10px;
}

.rtl .about-section .image-1 {
    right: auto;
    left: 50px;
}

.rtl .about-section .image-2 {
    right: -70px;
    left: 300px;
}

.rtl .about-section .image-3 {
    right: auto;
    left: 20px;
}

.rtl .about-section .content-column .link-box .signature {
    margin-right: 0;
    margin-left: 30px;
}

.rtl .pricing-block .features li {
    padding-left: 0;
    padding-right: 30px;
}

.rtl .news-block .image-box .date {
    right: auto;
    left: 0;
    border-radius: 0 10px 0 0;
}

.rtl .social-icon-one li:last-child {
    margin-right: 10px;
}

.rtl .main-header .theme-btn {
    margin-left: 0;
    margin-right: 30px;
}

.rtl .mobile-header .nav-outer {
    float: left;
}

.rtl .mobile-header .logo {
    float: right;
}

.rtl .nav-outer .mobile-nav-toggler {
    margin-left: 0;
    margin-right: 20px;
}

.rtl .owl-carousel {
    direction: ltr !important;
}

.rtl .appointment-section-two .testimonial-column .owl-dots {
    right: auto;
    left: 0;
}
